In [1]:
import pandas as pd
import os

In [2]:
for file in os.listdir('.'):
    if 'xlsx' in file and '$' not in file:
        file_excel = file

In [3]:
data = pd.read_excel(file_excel, sheet_name='Лист2', usecols='A:B', names=['наименование', 'цена'], header=None)

data = data.fillna('')
data = data[data['наименование'] != '']

data

                                          наименование     цена
0                              РеаСанМед на Варшавской
2                                 Проба Манту (Россия)   920 р.
3                               МЦ Гайде на Херсонской
5    Постановка реакции Манту (включает осмотр врач...   950 р.
6                     ДМЦ Гайде на Лиговском проспекте
..                                                 ...      ...
331                                        Проба Манту  1400 р.
332                             СПГМУ им. И.П. Павлова
334                                 Проба Пирке, Манту   180 р.
335                 Противотуберкулезный диспансер №11
337  Внутрикожная проба с туберкулезным аллергеном ...   380 р.

[236 rows x 2 columns]

In [4]:
dct = {'Центр' : [],
      'Услуга' : [], 
      'Цена' : []}

for i in data.index:
    if data['цена'][i] == '':
        temp_centr = data['наименование'][i]
        continue
    dct['Центр'].append(temp_centr)
    dct['Услуга'].append(data['наименование'][i])
    dct['Цена'].append(data['цена'][i])

In [5]:
data_new  = pd.DataFrame(dct)


data_new

,Центр,Услуга,Цена
0,РеаСанМед на Варшавской,Проба Манту (Россия),920 р.
1,МЦ Гайде на Херсонской,Постановка реакции Манту (включает осмотр врач...,950 р.
2,ДМЦ Гайде на Лиговском проспекте,Постановка реакции Манту (включает осмотр врач...,950 р.
3,СМТ на Московском проспекте,Постановка пробы Манту,1300 р.
4,СМТ на Римского-Корсакова,Постановка пробы Манту,1300 р.
...,...,...,...
129,НИИ фтизиопульмонологии СПб на Лиговском просп...,Реакция Манту с 2ТЕ (две туберкулиновые единицы),500 р.
130,НИИ фтизиопульмонологии СПб на Лиговском просп...,Учет результатов туберкулиновых проб,100 р.
131,НИИ акушерства и гинекологии им. Д.О. Отта,Проба Манту,1400 р.
132,СПГМУ им. И.П. Павлова,"Проба Пирке, Манту",180 р.
133,Противотуберкулезный диспансер №11,Внутрикожная проба с туберкулезным аллергеном ...,380 р.

In [6]:
data_new['Центр'] = data_new['Центр'].apply(lambda x: x[:x.find(' на ')])
data_new['Цена'] = data_new['Цена'].apply(lambda x: int(x[:x.find(' р')]))

In [7]:
data_new = data_new.drop_duplicates(subset=['Центр', 'Услуга'])

data_new.to_excel('цены_' + file_excel, index=False)