In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('kr2/restaurants.csv')

**Сколько в датафрейме колонок с типом float64?**

In [2]:
df.dtypes[df.dtypes == 'float64'].shape[0]

3

**Сколько наблюдений в датафрейме?**

In [3]:
df.shape[0]

784

**Сколько колонок в датафрейме?**

In [4]:
df.shape[1]

7

**Сколько уникальных городов в датафрейме?**

In [5]:
len(df.city_name.unique())

63

**Кол-во ресторанов специализации "Рыба"?**

In [6]:
df[df.specialisation == 'Рыба']['specialisation'].shape[0]

30

**Получить в общем среднее кол-во успешных заказов (ответ округлить до целого).**

In [7]:
np.round(df['successful_orders'].mean())

115.0

**Город с самым маленьким количеством ресторанов.**

In [8]:
df.city_name.value_counts().sort_values().head()

Ханты-Мансийск    2
Йошкар-Ола        3
Вологда           3
Егорьевск         3
Стерлитамак       3
Name: city_name, dtype: int64

**Сколько ресторанов имеют более 20 неуспешных заказов?**

In [9]:
df[df.fail_orders > 20].shape[0]

10

**Сколько ресторанов имеют более 20 неуспешных заказов и менее 500 успешных заказов?**

In [10]:
df[(df.fail_orders > 20) & (df.successful_orders < 500)].shape[0]

5

**Среднее кол-во успешных заказов в ресторанах со специализацией "Выпечка" (ответ округлить до целого).**

In [11]:
np.round(df[df.specialisation == 'Выпечка'].successful_orders.mean())

13.0

**Какая смециализация имеет самую высокую долю неуспешных заказов (все заказы по конкретному ресторану складываются из успешных, неуспешных заказов и перезаказов)?**

In [12]:
df['total_orders'] = df['fail_orders'] + df['successful_orders'] + df['reorders']
k  = df.groupby('specialisation').fail_orders.sum()/df.groupby('specialisation').total_orders.sum()
k.sort_values(ascending = False)[[0]].index[0]

'Вегетарианское меню'

**Максимальное количество успешных заказов в ресторане для специализации "Бургеры".**

In [13]:
df[df.specialisation == 'Бургеры'].successful_orders.max()

506.0

**Рассчитать среднее кол-во успешных заказов по специализации "Суши" в городе Белгород (ответ округлить до целого).**

In [14]:
df[(df.city_name == 'Белгород') & (df.specialisation == 'Суши')].successful_orders.mean()

328.0

**Какой средний model_score для chain_id 27399 (ответ округлить до 2 знаков после запятой).**

In [15]:
df_2 = pd.read_csv('kr2/restaurant_scores.csv', sep = ',')
df = pd.merge(df,df_2,how = 'left', left_on = 'vendor_id', right_on = 'id')
df[df.chain_id == 27399]['model_score'].mean()
df.head()

,vendor_id,chain_id,city_name,specialisation,successful_orders,fail_orders,reorders,total_orders,id,model_score
0,28957,20633,Архангельск,Супы,0.0,2.0,0.0,2.0,28957,0.421871
1,37381,27399,Архангельск,Пироги,0.0,0.0,0.0,0.0,37381,0.386503
2,28703,20431,Архангельск,Суши,111.0,3.0,0.0,114.0,28703,0.664808
3,37382,27399,Архангельск,Пироги,1.0,0.0,0.0,1.0,37382,0.838883
4,36877,27151,Архангельск,Бургеры,22.0,2.0,0.0,24.0,36877,0.176469