In [49]:
import statsmodels.stats.api as sms
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [50]:
data = pd.read_excel('Prognoz.xlsx', sheet_name='Лист2', header=0, index_col=0)

In [52]:
data

,Сумма по полю Доступно для записи Пациентов,Сумма по полю Всего_запись
Названия строк,,
13,679.965278,413.167558
14,516.319444,232.427720
15,448.732639,225.027674
16,449.534722,233.345995
17,450.871528,229.635683

In [62]:
sms.DescrStatsW(data['Сумма по полю Доступно для записи Пациентов']).tconfint_mean()

(385.18267789773813, 632.986766546706)

In [54]:
sms.DescrStatsW(data['Сумма по полю Всего_запись']).tconfint_mean()

(164.99126399590216, 368.4505878559495)

In [18]:
disp_data = pd.read_excel('Prognoz.xlsx', sheet_name='Лист3', header=0, index_col=0)

In [19]:
disp_data

,Б.С. 45,Богатыр 49к1,Брянцева 13,Гаврил.11,Гарьк. 15к3,Гаст. 22,Жукова 18,КИМа 28,Колл. 4к1,Колл. 6к1,Колом. 28,Коменд 51к1,Ленская 17к1,Мар. 48,Маршака 4,Мор. 3к2,РЦ БС 45,Сик. 7к2,Ст.П. 39А,Щерб.11
Названия строк,,,,,,,,,,,,,,,,,,,,
13,0.694909,0.599620,0.679053,0.584450,0.626748,0.613494,0.035842,0.656653,0.683938,0.746874,0.599175,0.479023,0.616973,0.537678,0.565748,0.588368,0.529842,0.600313,0.529362,0.543682
14,0.557134,0.410917,0.495645,0.436755,0.499486,0.457623,0.000000,0.411930,0.474064,0.715264,0.488427,0.285934,0.454622,0.311323,0.375625,0.475284,0.374245,0.443799,0.342621,0.310669
15,0.607348,0.458542,0.589278,0.368788,0.538707,0.523118,0.025862,0.473330,0.555290,0.783124,0.526579,0.279193,0.504933,0.382642,0.381710,0.482849,0.381818,0.499156,0.431486,0.323443
16,0.647629,0.355814,0.600010,0.434693,0.520325,0.519539,0.152941,0.458663,0.624595,0.845705,0.628653,0.296811,0.527431,0.391724,0.365265,0.432312,0.391986,0.524287,0.428733,0.370146
17,0.622084,0.379432,0.576848,0.422047,0.495580,0.523762,0.684807,0.437530,0.567969,0.808568,0.610591,0.268392,0.521902,0.506670,0.349251,0.395137,0.435340,0.498223,0.390552,0.407387

In [46]:
def avg_arr(arr):
    return sum(arr) / len(arr)

def len_all(*args):  # общее кол-во элементов в группах
    l = 0
    for i in args:
        l += len(i)
    return l 

def avg_arr_all(*args):        # для вычиления среднего по всем группам
    arr = []
    for i in args:
        arr += i
    return avg_arr(arr)    
      

def SST(*args):            # общая сумма квадратов разностей от общей средней
    arr = []               # df для SST = кол-во всех элементов - 1
    for i in args:
        arr += i
    SST = sum([(i - avg_arr(arr)) ** 2 for i in arr])
    return SST
        
def SSW(*args):            # общая сумма квадратов разностей внутри каждой группы
    SSW = 0                # df для SSW = кол-во всех элементов - кол-во групп
    for i in args:
        SSW += sum([(j - avg_arr(i)) ** 2 for j in i])
    return SSW        

def SSB(*args):            # для вычисления межгрупповой
    SSB = 0                # df для SSB = число групп - 1
    for i in args:
        SSB += len(i) * (avg_arr(i) - avg_arr_all(*args)) ** 2
    return SSB

def F(*args):
    F = SSB(*args) / (len(args) - 1) 
    X = SSW(*args) / (len_all(*args) - len(args))
    return F / X

In [42]:
SST(list(disp_data['Б.С. 45']), list(disp_data['Богатыр 49к1']), list(disp_data['Брянцева 13']), list(disp_data['Гаврил.11']),
    list(disp_data['Гарьк. 15к3']), list(disp_data['Гаст. 22']), list(disp_data['Жукова 18']), list(disp_data['КИМа 28']),
    list(disp_data['Колл. 4к1']), list(disp_data['Колл. 6к1']), list(disp_data['Колом. 28']), list(disp_data['Коменд 51к1']),
    list(disp_data['Ленская 17к1']), list(disp_data['Мар. 48']), list(disp_data['Маршака 4']), list(disp_data['Мор. 3к2']),
    list(disp_data['РЦ БС 45']), list(disp_data['Сик. 7к2']), list(disp_data['Ст.П. 39А']), list(disp_data['Щерб.11']))

2.199953080431317

In [43]:
SSW(list(disp_data['Б.С. 45']), list(disp_data['Богатыр 49к1']), list(disp_data['Брянцева 13']), list(disp_data['Гаврил.11']),
    list(disp_data['Гарьк. 15к3']), list(disp_data['Гаст. 22']), list(disp_data['Жукова 18']), list(disp_data['КИМа 28']),
    list(disp_data['Колл. 4к1']), list(disp_data['Колл. 6к1']), list(disp_data['Колом. 28']), list(disp_data['Коменд 51к1']),
    list(disp_data['Ленская 17к1']), list(disp_data['Мар. 48']), list(disp_data['Маршака 4']), list(disp_data['Мор. 3к2']),
    list(disp_data['РЦ БС 45']), list(disp_data['Сик. 7к2']), list(disp_data['Ст.П. 39А']), list(disp_data['Щерб.11']))

0.751378827711592

In [44]:
SSB(list(disp_data['Б.С. 45']), list(disp_data['Богатыр 49к1']), list(disp_data['Брянцева 13']), list(disp_data['Гаврил.11']),
    list(disp_data['Гарьк. 15к3']), list(disp_data['Гаст. 22']), list(disp_data['Жукова 18']), list(disp_data['КИМа 28']),
    list(disp_data['Колл. 4к1']), list(disp_data['Колл. 6к1']), list(disp_data['Колом. 28']), list(disp_data['Коменд 51к1']),
    list(disp_data['Ленская 17к1']), list(disp_data['Мар. 48']), list(disp_data['Маршака 4']), list(disp_data['Мор. 3к2']),
    list(disp_data['РЦ БС 45']), list(disp_data['Сик. 7к2']), list(disp_data['Ст.П. 39А']), list(disp_data['Щерб.11']))

1.4485742527197252