In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

%matplotlib inline

In [4]:
data1 = pd.read_excel(r'C:\Users\AmanovRA\Anaconda3\Work-work\Temp\Makarov\Макаров ВГ для КЦ и обзвонов.xlsx')

In [33]:
data1['Дата приема'] = pd.to_datetime(data1['Дата приема']).dt.date.apply(str)

In [36]:
group_data1 = pd.DataFrame(data1.groupby('Номер карты')['Дата приема'].apply(list))

In [37]:
group_data1

                                      Дата приема
Номер карты
100093536                            [2020-05-07]
100119217                            [2020-05-01]
100180648    [2020-05-01, 2020-05-05, 2020-05-08]
100180675                [2020-05-01, 2020-05-05]
100180979                [2020-05-03, 2020-05-07]
100181713                            [2020-05-07]
100181789                            [2020-05-07]
120026854                            [2020-05-03]
120101030                            [2020-05-07]
120336243                [2020-05-05, 2020-05-06]
120394233                [2020-05-05, 2020-05-06]
120487083                [2020-05-01, 2020-05-03]
120514399    [2020-05-01, 2020-05-05, 2020-05-08]
120580001                            [2020-05-05]
120580658                            [2020-05-05]
120580666                            [2020-05-05]
990405707                [2020-05-01, 2020-05-03]
990423471                [2020-05-05, 2020-05-06]
990477473    [2020-05-01, 2020-05-03, 2020-05-05]
990489705                            [2020-05-07]
990499763                            [2020-05-08]

In [19]:
data2 = pd.read_excel(r'C:\Users\AmanovRA\Anaconda3\Work-work\Temp\Makarov\Макаров ВГ для КЦ и обзвонов.xlsx', sheet_name=1)

In [38]:
data2['Дата приема'] = pd.to_datetime(data2['Дата приема']).dt.date.apply(str)

In [39]:
group_data2 = pd.DataFrame(data2.groupby('Номер карты')['Дата приема'].apply(list))

In [40]:
group_data2.shape

(58, 1)

In [41]:
group_data1.to_excel('out1.xlsx')
group_data2.to_excel('out2.xlsx')

In [32]:
group_data1['Дата приема']

Номер карты
100093536                            [2020-05-07]
100119217                            [2020-05-01]
100180648    [2020-05-01, 2020-05-05, 2020-05-08]
100180675                [2020-05-01, 2020-05-05]
100180979                [2020-05-03, 2020-05-07]
100181713                            [2020-05-07]
100181789                            [2020-05-07]
120026854                            [2020-05-03]
120101030                            [2020-05-07]
120336243                [2020-05-05, 2020-05-06]
120394233                [2020-05-05, 2020-05-06]
120487083                [2020-05-01, 2020-05-03]
120514399    [2020-05-01, 2020-05-05, 2020-05-08]
120580001                            [2020-05-05]
120580658                            [2020-05-05]
120580666                            [2020-05-05]
990405707                [2020-05-01, 2020-05-03]
990423471                [2020-05-05, 2020-05-06]
990477473    [2020-05-01, 2020-05-03, 2020-05-05]
990489705                            [2020-05-07]
990499763                            [2020-05-08]
Name: Дата приема, dtype: object