In [2]:
import pandas as pd
import os

In [3]:
os.listdir('.')

['.ipynb_checkpoints',
 'uzi_glaz.ipynb',
 '~$Дуплексное сканирование сосудов глаза.xlsx',
 'Дуплексное сканирование сосудов глаза.xlsx']

In [4]:
data = pd.read_excel('Дуплексное сканирование сосудов глаза.xlsx', sheet_name='Лист2')

data = data.fillna('')
data

                                          наименование     цена
0                          СМТ на Московском проспекте
1          Ультразвуковое исследование глазного яблока  1050 р.
2      Ультразвуковая биометрия глаза (А-сканирование)  1050 р.
3    Ультразвуковое исследование одного глазного яб...  1310 р.
4                            СМТ на Римского-Корсакова
..                                                 ...      ...
111                                  УЗИ глазных яблок  1050 р.
112                   Rossimed на Российском проспекте
113  Ультразвуковое измерение передне-заднего отрез...   750 р.
114     УЗИ глазного яблока и структур орбиты (1 глаз)  1200 р.
115     УЗИ глазного яблока и структур орбиты (1 глаз)  1200 р.

[116 rows x 2 columns]

In [5]:
dct = {'Центр' : [],
      'Услуга' : [], 
      'Цена' : []}

for i in data.index:
    if data['цена'][i] == '':
        temp_centr = data['наименование'][i]
        continue
    dct['Центр'].append(temp_centr)
    dct['Услуга'].append(data['наименование'][i])
    dct['Цена'].append(data['цена'][i])

In [6]:
data_new  = pd.DataFrame(dct)


data_new

,Центр,Услуга,Цена
0,СМТ на Московском проспекте,Ультразвуковое исследование глазного яблока,1050 р.
1,СМТ на Московском проспекте,Ультразвуковая биометрия глаза (А-сканирование),1050 р.
2,СМТ на Московском проспекте,Ультразвуковое исследование одного глазного яб...,1310 р.
3,СМТ на Римского-Корсакова,Ультразвуковое исследование глазного яблока,1050 р.
4,СМТ на Римского-Корсакова,Ультразвуковая биометрия глаза (А-сканирование),1050 р.
...,...,...,...
62,Гранти-Мед на Гаврской,УЗИ глазного яблока и орбиты (один глаз),480 р.
63,CapitalMed на Полтавской,УЗИ глазных яблок,1050 р.
64,Rossimed на Российском проспекте,Ультразвуковое измерение передне-заднего отрез...,750 р.
65,Rossimed на Российском проспекте,УЗИ глазного яблока и структур орбиты (1 глаз),1200 р.
66,Rossimed на Российском проспекте,УЗИ глазного яблока и структур орбиты (1 глаз),1200 р.

In [7]:
data_new['Центр'] = data_new['Центр'].apply(lambda x: x[:x.find(' на ')])
data_new['Цена'] = data_new['Цена'].apply(lambda x: int(x[:x.find(' р')]))

In [9]:
data_new.to_excel('цены.xlsx')